.catalog-select {
  min-width : 200px;
  height : 100%
}

.brand-dropdown {
  min-width : 100px;
  height : 100%
}

.search-input {
  min-width: 250px;
  height : 60px
}

.header-tools {
  min-width : 550px;
  display: flex;
  align-items: center;
}